AUTH_SECRET=
AUTH_MICROSOFT_ENTRA_ID_ID=<copy Application (client) ID here>
AUTH_MICROSOFT_ENTRA_ID_SECRET=<copy generated client secret value here>
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=<copy the tenant id here>
NEXTAUTH_URL= ${deploying domain url}
NEXT_PUBLIC_API_URL= ${deploying domain url}